<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: #0d0d9f;"><%= title %></h1>
    <p>Hello Welcome to <%= title %> This is 2023/5/6</p>
  </body>
</html>
